.header{
    grid-area: h;
    background-color: rgb(64, 0, 255);
    border-radius: 5px;
}
.header img{
    width: 60px;
    margin-left: 10px;
}
.header img:hover{
    cursor: pointer;
}
.Login_block{
    float: right;
}
.login{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
}